<div class="overlay" (click)="taskInformationService.isShowModal = false"></div>
<div class="container">
  <header class="header">Новая задача</header>
  <div>
    <span> Введите название задачи </span>
    <input [ngClass]="{
      errorBorder: isErrorName === true
    }" [formControl]="nameControl" [(ngModel)]="inputName" type="text" />
  </div>
  <div>
    <span> Описание </span>
    <input
      [(ngModel)]="inputDescription"
      type="text"
      placeholder="Без описания"
    />
  </div>
  <div>
    <span> Срок выполнения </span>
    <mat-form-field>
      <input [(ngModel)]="inputData" matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <span> Выберите приоритет </span>
    <div class="selectButtons">
      <button
        [ngClass]="{
          activeButton: currentPriopity === Priority.LOW
        }"
        (click)="handelButtonCLickPriority(Priority.LOW)"
        class="selectButton"
      >
        Низкий
      </button>
      <button
        [ngClass]="{
          activeButton: currentPriopity === Priority.MEDIUM
        }"
        (click)="handelButtonCLickPriority(Priority.MEDIUM)"
        class="selectButton"
      >
        Средний
      </button>
      <button
        [ngClass]="{
          activeButton: currentPriopity === Priority.HIGH
        }"
        (click)="handelButtonCLickPriority(Priority.HIGH)"
        class="selectButton"
      >
        Высокий
      </button>
    </div>
  </div>

  <div class="decisionButtons">
    <button
      class="decision"
      (click)="taskInformationService.isShowModal = false"
    >
      отмена
    </button>
    <button
      class="decision"
      (click)="handleAddTask()"

    >
      создать
    </button>
  </div>
</div>
