.wrapper {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.blockName {
  display: flex;
  gap: 5px;
}

.buttons {
  display: flex;
  gap: 5px;
}

button {
  cursor: pointer;
}

img {
  width: 14px;
  height: 14px;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
