<app-modal *ngIf="taskInformationService.isShowModal"></app-modal>

<div class="wrapper">
  <div class="header">
    <div class="blockName">
      <div>Недавно назначенные</div>
      <div>2</div>
    </div>
    <div class="buttons">
      <button
        (click)="taskInformationService.isShowModal = true"
        class="addTask"
      >
        <img src="../../../../assets/plus-add-task.svg" alt="Add Task" />
      </button>
      <button class="option">
        <img src="../../../../assets/dots-option.svg" alt="Options" />
      </button>
    </div>
  </div>

  <div class="tasks">
    <app-task *ngFor="let task of taskInformationService.tasks" [task]="task" />
  </div>
</div>
