.wrapper {
  width: calc(100% - 10px);
  height: calc(100% - 5px);
  padding: 5px 0 0 10px;
}

.toolbar {
  display: flex;
  gap: 20px;
}

.tableTypeButton {
  cursor: pointer;
  border: none;
  background-color: white;
  height: 30px;
}

.activeType {
  border-bottom: 2px solid black;
}
