.wrapper {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.toolbar {
  display: flex;
  gap: 20px;
}

.tableTypeButton {
  cursor: pointer;
  border: none;
  background-color: white;
  height: 30px;
}

.activeType {
  border-bottom: 2px solid black;
}
